
                    @font-face {
                        font-family: Abril Fatface;
                        src: url('./Abril Fatface/AbrilFatface-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Agbalumo;
                        src: url('./Agbalumo/Agbalumo-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Alfa Slab One;
                        src: url('./Alfa Slab One/AlfaSlabOne-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Angelwine;
                        src: url('./Angelwine/Angelwine-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Anton;
                        src: url('./Anton/Anton-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Arial Narrow;
                        src: url('./Arial Narrow/ArialNarrow-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Bangers;
                        src: url('./Bangers/Bangers-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Berlin Sans FB;
                        src: url('./Berlin Sans FB/BerlinSansFB-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Blacksword;
                        src: url('./Blacksword/Blacksword-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Blockletter;
                        src: url('./Blockletter/Blockletter-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Bowlby One;
                        src: url('./Bowlby One/BowlbyOne-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Chewy;
                        src: url('./Chewy/Chewy-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Courgette;
                        src: url('./Courgette/Courgette-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Freshman;
                        src: url('./Freshman/Freshman-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Gotham Book;
                        src: url('./Gotham Book/GothamBook-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Graduate;
                        src: url('./Graduate/Graduate-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Great Vibes;
                        src: url('./Great Vibes/GreatVibes-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Impact;
                        src: url('./Impact/Impact-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Inter;
                        src: url('./Inter/Inter-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Inter;
                        src: url('./Inter/Inter-BoldItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Inter;
                        src: url('./Inter/Inter-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Inter;
                        src: url('./Inter/Inter-RegularItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Kenia;
                        src: url('./Kenia/Kenia-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Lato;
                        src: url('./Lato/Lato-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Lato;
                        src: url('./Lato/Lato-BoldItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Lato;
                        src: url('./Lato/Lato-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Lato;
                        src: url('./Lato/Lato-RegularItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Mistral;
                        src: url('./Mistral/Mistral-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Montserrat;
                        src: url('./Montserrat/Montserrat-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Montserrat;
                        src: url('./Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Montserrat;
                        src: url('./Montserrat/Montserrat-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Montserrat;
                        src: url('./Montserrat/Montserrat-RegularItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Neuton;
                        src: url('./Neuton/Neuton-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Neuton;
                        src: url('./Neuton/Neuton-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Norwester;
                        src: url('./Norwester/Norwester-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: NotoEmoji;
                        src: url('./NotoEmoji/NotoColorEmoji.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: NotoEmoji;
                        src: url('./NotoEmoji/NotoEmoji.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Oswald;
                        src: url('./Oswald/Oswald-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Oswald;
                        src: url('./Oswald/Oswald-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Overpass;
                        src: url('./Overpass/Overpass-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Overpass;
                        src: url('./Overpass/Overpass-BoldItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Overpass;
                        src: url('./Overpass/Overpass-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Overpass;
                        src: url('./Overpass/Overpass-RegularItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Pop Warner;
                        src: url('./Pop Warner/PopWarner-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: PT Sans;
                        src: url('./PT Sans/PTSans-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: PT Sans;
                        src: url('./PT Sans/PTSans-BoldItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: PT Sans;
                        src: url('./PT Sans/PTSans-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: PT Sans;
                        src: url('./PT Sans/PTSans-RegularItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Raleway;
                        src: url('./Raleway/Raleway-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Raleway;
                        src: url('./Raleway/Raleway-BoldItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Raleway;
                        src: url('./Raleway/Raleway-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Raleway;
                        src: url('./Raleway/Raleway-RegularItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Roboto;
                        src: url('./Roboto/Roboto-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Roboto;
                        src: url('./Roboto/Roboto-BoldItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Roboto;
                        src: url('./Roboto/Roboto-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Roboto;
                        src: url('./Roboto/Roboto-RegularItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Squealer;
                        src: url('./Squealer/Squealer-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Stencil BT;
                        src: url('./Stencil BT/StencilBT-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Ultra;
                        src: url('./Ultra/Ultra-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Volkhov;
                        src: url('./Volkhov/Volkhov-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Volkhov;
                        src: url('./Volkhov/Volkhov-BoldItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Volkhov;
                        src: url('./Volkhov/Volkhov-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Volkhov;
                        src: url('./Volkhov/Volkhov-RegularItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Vollkorn;
                        src: url('./Vollkorn/Vollkorn-Bold.ttf') format('truetype');
                        font-style: normal;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Vollkorn;
                        src: url('./Vollkorn/Vollkorn-BoldItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: bold;
                    }

                    @font-face {
                        font-family: Vollkorn;
                        src: url('./Vollkorn/Vollkorn-Regular.ttf') format('truetype');
                        font-style: normal;
                        font-weight: normal;
                    }

                    @font-face {
                        font-family: Vollkorn;
                        src: url('./Vollkorn/Vollkorn-RegularItalic.ttf') format('truetype');
                        font-style: italic;
                        font-weight: normal;
                    }
